body {
    direction: rtl;
}

.cart-page {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.cart-page *{
    font-size: 18px;
}
button{
    font: 18px;
}
.cart-items {
    width: 70%;
}

.cart-item {
    background: #fff;
    padding: 35px;
    border-radius: 12px;
    display: flex;
    gap: 35px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

}

.item-img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.item-info {
    flex: 1;
}

.item-title {
    margin-bottom: 5px;
}
.item-price{
    margin: 20px 0;
}

.item-qty {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.shop-box-text {
    display: block;
    text-align: center;
}

.qty-btn {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    border: none;
    background: #ededed;
    cursor: pointer;
}

.item-total {
    text-align: right;
}

.remove-item {
    display: block;
    width: 220px;
    margin-top: 55px;
    background: #fa6d6d;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;

}
.jamkol_txt{
    margin: 20px 0;
    margin-top: 40px;
}
.cart-summary {
    width: 30%;
    background: #f5f9ff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pay-btn {
    width: 100%;
    background: #28a745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.discount-input {
    width: 100%;
    max-width: 280px;
    padding: 12px 16px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid #ff8a1e;
    background: #ffffff;
    color: #222;
    outline: none;
    transition: 0.25s ease;
    box-shadow: 0 4px 14px rgba(0,0,0,0.06);
}

.discount-input::placeholder {
    color: #888;
}

.discount-input:focus {
    border-color: #23b36b;
    box-shadow: 0 6px 18px rgba(35, 179, 107, 0.25);
}
.discount-input:valid {
    border-color: #23b36b;
}
.discount-input:invalid {
    border-color: #ff8a1e;
}

.discount-box {
    margin-top:50px;
}

.apply-discount {
    margin-top: 10px;
    height: 53px;
    width: 150px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #ff9800, #ff6f00);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* box-shadow: 0 4px 12px rgba(255, 152, 0, 0.4); */
    letter-spacing: 0.5px;
    margin-bottom: 20PX;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
}